
body{
  padding: 0;
  margin : 0;
  background-color: #BBE1FA;
}
/* Social Links */

  ul {
    position: relative;
    display: flex;
  }
  
  .socialicon{
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
  }
  
  .socialicon a {
    text-decoration: none;
  }
  
  
  .socialicon a::before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }

  
  .socialicon:hover a::before {
    height: 100%;
  }

  .social_links{
    background-color:black;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1%;
  }

  .socialicon:nth-child(4) a{
    content: "\f08c";
    color: #0081C9;
  }

  .socialicon:nth-child(3) a{
    content: "\f16d";
    color: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    }
  
  .socialicon:nth-child(2) a {
    content: "\f09b";
    color: #ECE8DD;
  }
  
  .socialicon:nth-child(1) a{
    content: "\f099";
    color: #1da1f2;
  }
