
body{
  padding: 0;
  margin : 0;
  background-image: linear-gradient(to right top, #0f4c75, #3f6f95, #6893b6, #91b9d7, #bbe1fa);
  font-family: 'Lora', serif;
}
.title{
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
}
/* Social Links */

  ul {
    position: relative;
    display: flex;
  }
  
  .socialicon{
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
  }
  
  .socialicon a {
    text-decoration: none;
  }
  
  
  .socialicon a::before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }

  
  .socialicon:hover a::before {
    height: 100%;
  }

  .social_links{
    background-color:black;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1%;
  }

  .socialicon:nth-child(4) a{
    content: "\f08c";
    color: #0081C9;
  }

  .socialicon:nth-child(3) a{
    content: "\f16d";
    color: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    }
  
  .socialicon:nth-child(2) a {
    content: "\f09b";
    color: #ECE8DD;
  }
  
  .socialicon:nth-child(1) a{
    content: "\f099";
    color: #1da1f2;
  }
  /* Food Items */
  .food{
    margin: 15px;
  }
  .food-item{
    max-width:100%;
    max-height:100%;
    display: block;
    border: 10px solid #000;
  }
  .foodlinks{
    color: black;
    display: none;
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
  }
  .foodlinks:hover{
    display: block;
  }

  .food:nth-child(4), .food:nth-child(5){
    margin :15px  0px ;
  }
  .food:nth-child(1),.food:nth-child(2),.food:nth-child(3){
    margin: 20px 0px;
  }
  
  /* Food Hover Effect */

  .hvr-grow-shadow {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover .title{
    display: none;
  }
  .hvr-grow-shadow:hover .hvr-grow-shadow:not(:hover){
    z-index: -1;
    opacity: 0.9;
  }

  .hvr-grow-shadow:hover + .hvr-grow-shadow{
    z-index: -1;
    opacity: 0.9;
  }

  .hvr-grow-shadow:hover ~ .hvr-grow-shadow{
    z-index: -1;
    opacity: 0.9;
  }



  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* Cusine Menu Css */
  .cardwrapper{
    display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1B262C;
  padding: 10px;
  }
  #cards{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 916px;
    width: calc(100% -20px);
  }
  .card{
    background-color: rgba(255,255,255,0.02);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    cursor: pointer;
    height: 260px;
    width: 300px;
    position: relative;
  }

  .card::before{
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255,255,255,0.06),
      transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
  }